/* Code - the styles. Written in CSS language. */

h1 {
    font-family: Sans-serif;
    font-size: 24px;
    font-weight: bold;
}

body {
    font-family: Sans-serif;
    font-size: 18px;
}

.right-side {
    float: right;
}

.start-again {
    width: 100px;
    text-align: center;
    font-size: 12px;
    border-style: solid;
    border-width: 1px;
    border-color: Green;
}

.button {
    width: 100px;
    float: left;
    padding: 5px;
    margin: 5px;

    color: White;
    font-weight: bold;
    text-align: center;

    border-style: solid;
    border-width: 1px;
    border-color: DimGrey;
}

.button.true {
    background-color: MediumPurple;
}

.button.false {
    background-color: LimeGreen;
}

.button.selected {
    border-width: 5px;
    margin: 1px;
}

.button.submit {
    color: inherit;
}

.after-buttons {
    clear: left;
    padding-top: 10px;
}

#byte_content, #xml_content {
    margin: 5px 0;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

#progress_bar {
    margin: 10px 0;
    padding: 3px;
    border: 1px solid #000;
    font-size: 14px;
    clear: both;
    opacity: 0;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
}

#progress_bar.loading {
    opacity: 1.0;
}

#progress_bar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
}
